@{ string idPrefix = Model; }
<div class="modal fade" id="@idPrefix" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span>
                    &times;
                </span>
                </button>
                <h4 class="modal-title">Edit gift</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="@idPrefix-title">Title</label>
                        <input class="form-control" id="@idPrefix-title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="@idPrefix-description">Description</label>
                        <textarea rows="5" class="form-control" id="@idPrefix-description" placeholder="Description">
                        </textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="@idPrefix-save">Save changes</button>
            </div>
        </div>
    </div>
</div>