body {
    padding-top: 30px;
    padding-bottom: 20px;
}

#gift-create-open {
    margin-top: 8px;
}

header {
    margin-bottom: 20px;
}

header > section.brand {
    margin-right: 20px;
}

.brand-icon {
    background: url("../icons/present.svg");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    float:left;
}

.brand-title {
    font-size:1.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}