@section Header {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button type="button" id="gift-create-open" class="btn btn-primary">New gift</button>
        </li>
    </ul>
}

<div id="gift-app"></div>

@section Scripts {
    <script src="~/js/gift.js"></script>
}