@section Header {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button type="button" id="gift-create" class="btn btn-primary">New gift</button>
        </li>
}

<div id="gift-list"></div>

@await Html.PartialAsync("_GiftEditPartial")

@section Scripts {
    <script src="~/js/gift.js"></script>
}