<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/spectre.min.css" />
  <link rel="stylesheet" href="~/css/spectre-icons.min.css" />
  <link rel="stylesheet" href="~/css/spectre-exp.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header class="navbar container grid-lg">
    <section class="navbar-brand mr-2">
      <a class="brand-icon" asp-page="/Index"></a>
      <span class="brand-title">
        giftTracker
      </span>
    </section>
    <section class="navbar-section" id="custom-section">
      <a class="btn btn-link" asp-page="./Gift">gifts</a>
      <a class="btn btn-link" asp-page="./Event">events</a>
      <a class="btn btn-link" asp-page="./Individual">individuals</a>
    </section>
    <section class="navbar-section" id="logoff-section">
        @await Component.InvokeAsync("UserName")
      <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
      </form>
    </section>
  </header>


  @RenderBody()

  <footer class="container grid-md">
  </footer>

  @RenderSection("scripts", required: false)
</body>
</html>
