@page

@{
  ViewData["Title"] = "Gifts";
}

<div id="gift-app"></div>

@section Scripts {
    <script src="~/js/vendors~event~gift.js"></script>
    <script src="~/js/event~gift.js"></script>
    <script src="~/js/gift.js"></script>
}