@page

@{
  ViewData["Title"] = "Home Page";
}

<ul>
  <li><a asp-page="./Gift">gifts</a></li>
  <li><a asp-page="./Event">events</a></li>
  <li><a asp-page="./Individual">individuals</a></li>
</ul>

