body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* header */

header {
    margin-bottom: 20px;
}

header > section.brand {
    margin-right: 20px;
}

.brand-icon {
    background: url("../icons/present.svg");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    float:left;
}

.brand-title {
    font-size:1.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* modal */

.modal-container {
    max-height: 800px !important;
}

/* gift card */

.gift-view button {
    opacity: 0;
    transition: opacity .5s;
}

.gift-view:hover button {
    opacity: 1;
}

.gift-view {
    box-shadow: 0 0 3px rgb(240, 240, 240);
    transition: box-shadow .5s;
    /* min-height: 240px; */
}

.gift-view:hover {
    box-shadow: 0 0 5px rgb(200, 200, 200);
}

.empty-gift {
    border: 5px dashed rgb(188, 195, 206);
    padding: 14px 0;
}

/* event page -- should be removed */

.individual-list {
    list-style-type: none;
}

.event-individual-header {
    display: flex;
    align-items: flex-start;
}
